@import "../../constants.scss";

.info {
  padding: var(--padding-section);
  background-color: var(--color-background);

  &__container {
    margin: 0 auto;
    padding: var(--padding-container);
    text-align: left;
  }

  &__title {
    font-size: 1.5rem;
    color: var(--color-text);
    margin-bottom: 2rem;
    text-align: left;
  }

  &__content {
    position: relative;
    overflow: hidden;
    max-height: 6rem;
    transition: max-height 0.3s ease-out;
  }

  &__text {
    font-size: 1.1rem;
    line-height: 1.4;
    color: var(--color-text);
    opacity: 0.9;
    margin: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2rem;
      background: linear-gradient(transparent, var(--color-background));
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }

  #info-toggle {
    &:checked {
      & ~ .info__toggle::before {
        content: "Show less";
      }
    }

    &:focus-visible + .info__toggle {
      outline: var(--color-text) solid 1px;
    }
  }

  &__container
    .info__content:has(+ .info__toggle-wrapper #info-toggle:checked) {
    max-height: 50vh;
    transition: max-height 0.5s ease-in;

    .info__text::after {
      height: 0;
    }
  }

  &__toggle {
    display: block;
    cursor: pointer;
    color: var(--color-accent);
    background: none;
    border: none;
    padding: 1rem 0;

    &:hover {
      opacity: var(--opacity-hover);
    }

    &::before {
      content: "Read more";
    }
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 3rem 0;

    &__title {
      font-size: 1.5rem;
    }
  }
}
