.info {
  padding: 4rem 0;
  background-color: var(--color-background);

  &__container {
    max-width: 1248px;
    min-height: 320px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: left;
  }

  &__title {
    font-size: 2.5rem;
    color: var(--color-text);
    margin-bottom: 2rem;
    text-align: left;
  }

  &__text {
    color: var(--color-text);
    opacity: 0.9;
  }

  &__cta {
    background-color: transparent;
    color: var(--color-accent);
    border: none;
    padding: 1rem 0;
    font-size: 1.1rem;
    border-radius: 50px;
    font-family: 'Lato Bold', sans-serif;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      opacity: var(--opacity-hover);
    }
  }

  @media (max-width: 768px) {
    padding: 3rem 0;

    &__title {
      font-size: 1.5rem;
    }
  }
} 