.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--color-secondary);
  padding: 1rem 0;

  &__container {
    margin: 0 auto;
    padding: var(--padding-container);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    min-width: unset;
    
    &:hover {
      opacity: var(--opacity-hover);
    }

    img {
      height: 40px;
      width: auto;
    }


  }

  &__nav-container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__nav {
    ul {
      display: flex;
      list-style: none;
      gap: 2rem;
    }

    &-link {
      color: var(--color-text);
      text-decoration: none;
      padding: 0.5rem;

      &:hover {
        opacity: var(--opacity-hover);
      }

      span:hover {
        background: linear-gradient(var(--color-accent), var(--color-primary));
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    @media (max-width: 768px) {
      display: none;
      
      &--open {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        background-color: var(--color-secondary);
        padding: 5rem 2rem 2rem;
        
        ul {
          flex-direction: column;
          align-items: center;
          gap: 2rem;
        }
      }
    }
  }

  &__cart {
    min-width: unset;

    &-icon {
      margin-top: 5px;
      fill: var(--color-text);
      transition: var(--transition-all);

      .cart-path {
        fill: var(--color-text);
        transition: fill 0.3s ease;
      }

      &:hover {
        .cart-path {
          fill: url(#cart_hover);
        }
      }
    }

    // #cart_hover{
    //   stop:first-of-type{
    //     stop-color: var(--color-accent);  
    //   }
    //   stop:last-of-type{
    //     offset: 1;
    //     stop-color: var(--color-primary);
    //   }
    // }
  }

  &__burger {
    display: none;
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    min-width: unset;
    z-index: 2;

    .burger-line {
      fill: var(--color-text);
      transition: var(--transition-all);
      transform-origin: center;
    }

    &:hover {
      .burger-line {
        opacity: var(--opacity-hover);
      }
    }

    &--open {
      .burger-line-1 {
        transform: translateY(8px) rotate(45deg);
      }

      .burger-line-2 {
        opacity: 0;
      }

      .burger-line-3 {
        transform: translateY(-8px) rotate(-45deg);
      }
    }

    @media (max-width: 768px) {
      display: block;
    }
  }
}