@import "../../constants.scss";

.footer {
  padding: 1rem 0 2rem;
  background-color: var(--color-secondary);

  &__container {
    max-width: 1248px;
    margin: 0 auto;
    padding: var(--padding-container);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__rocket {
    width: 100%;
    max-width: 120px;
    height: auto;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    color: var(--color-accent);
    font-size: 1.5rem;
    text-align: center;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 3rem 0 1.5rem;

    &__text {
      font-size: 1.2rem;
    }
  }
}
