@font-face {
  font-family: "Lato Bold";
  src: url("../public/fonts/Lato-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Extra Bold";
  src: url("../public/fonts/Lato-Bold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #ff00ff;
  --color-secondary: #000000;
  --color-accent: #ffff00;
  --color-background: #304571;
  --color-text: #ffffff;
  --color-button-hover: rgba(255, 255, 255, 0.1);
  --opacity-hover: 0.6;
  --transition-transform: transform 0.3s ease;
  --transition-all: all 0.3s ease;
  --padding-container: 0 1.5rem;
  --padding-section: 2rem 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato Bold", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato Extra Bold", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
