.offers {
  padding: 4rem 0;
  background-color: var(--color-background);

  &__container {
    margin: 0 auto;
    padding: var(--padding-container);
  }

  &__title {
    font-size: 2.5rem;
    color: var(--color-text);
    margin-bottom: 3rem;
    line-height: 1;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem 2rem;

    @media (max-width: 992px) {
      grid-template-rows: repeat(2, 1fr);
    }
  
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }
  }
}

.offer-card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  transition: var(--transition-transform);
  height: 100%;
  height: 350px;
  line-height: 1;

  &:hover {
    transform: translateY(-5px);

    .offer-card__image {
      transform: scale(1.05);
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: var(--transition-transform);
  }

  &__content {
    position: relative;
    height: 100%;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    max-width: 600px;
  }

  &__title {
    font-size: 3rem;
    color: var(--color-text);
    margin-bottom: 1rem;

    @media (max-width: 992px) {
      font-size: 2rem;
    }
  }

  &__description {
    font-size: 1.2rem;
    color: var(--color-text);
    margin-bottom: 1.5rem;
  }

  &__cta {
    background-color: transparent;
    color: var(--color-accent);
    border: 2px solid var(--color-accent);
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    transition: var(--transition-all);
    cursor: pointer;

    &:hover {
      opacity: var(--opacity-hover);
    }
  }

  &:nth-child(1), &:nth-child(4) {
    grid-column: 1 / span 2;

    .offer-card__title {
      font-size: 4rem;
    }

    .offer-card__description {
      font-size: 1.8rem;
    }
  }

  @media (max-width: 992px) {
    &:nth-child(1) {
      grid-column: 1 / span 1;

      .offer-card__title {
        font-size: 2rem;
      }

      .offer-card__description {
        font-size: 1.2rem;
      }
    }
    &:nth-child(4) {
      grid-column: 2 / span 1;

      .offer-card__title {
        font-size: 2rem;
      }

      .offer-card__description {
        font-size: 1.2rem;

      }
    }
  }

  @media (max-width: 768px) {
    &:nth-child(1), &:nth-child(4) {
      grid-column: 1 / span 1;
    }
  }
} 